Repository shivendra-raghav-ac/auth0-terraform-starter: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

azure-pipelines-cd.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)-cd
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildArtifacts
    displayName: Build Deployment Artifacts
    jobs:
    - job: Build
      displayName: Build Actions for Deployment
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

azure-pipelines-ci.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)-ci
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Actions
    jobs:
    - job: BuildActions
      displayName: Build TypeScript Actions
      steps:
      - task: NodeTool@0
        displayName: Install Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Actions
    jobs:
    - job: BuildActions
      displayName: Build TypeScript Actions
      steps:
      - task: NodeTool@0
        displayName: Install Node.js $(NODE_VERSION)
        inputs:
  ...

Pipelie Update
  README.md
  azure-pipelines-ci.yml
  azure-pipelines.yml
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Actions Changes Upgrade
  actions/.eslintrc.json
  actions/package.json
  actions/rollup.config.js
  actions/tsconfig.json
Due: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

DEV Approval Gate
  azure-pipelines.yml
Due: azure-pipelines.yml

Approval to Pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

Implement post-login progressive profiling action
  actions/src/post-login-progressive-profiling.ts
Due: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

Refactor post-login progressive profiling code
  actions/src/post-login-progressive-profiling.ts
Due: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

Add architecture documentation for progressive profiling
  actions/src/actions/post-login-progressive-profiling.md
Due: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

Add tests for Post-Login Progressive Profiling Action
  actions/src/__tests__/post-login-progressive-profiling.test.ts
Due: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

Azure Deployment
  README.md
  azure-pipelines.yml
  environments/dev/backend.tf
  environments/prod/backend.tf
  environments/qa/backend.tf
  environments/val/backend.tf
Due: azure-pipelines-cd.yml, azure-pipelines-ci.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-cd.yml: any of: actions, modules, environments, azure-pipelines-cd.yml
  azure-pipelines-ci.yml: any of: actions, modules, environments, azure-pipelines-ci.yml
  azure-pipelines.yml: any of: actions, modules, environments, azure-pipelines.yml
